$primary-color: #3b5e7b;
$edit-color: #055c69;
$delete-color: #3b5e7b;

.title {
  color: $primary-color;
  font-size: 24px;
  font-weight: bold;
}
.table tr th {
  background: var(--theme-color) !important;
}
table {
  th {
    padding: 12px 20px !important;
    color: #fff !important;
  }

  td {
    padding: 0px 10px !important;
    vertical-align: middle;
  }
}
button {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  &:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 10px rgba(23, 162, 184, 0.4);
  }
}
.actions {
  display: flex;
  button {
    margin: 5px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  .edit-btn {
    background-color: $edit-color;

    &:hover {
      background-color: darken($edit-color, 10%);
      color: #fff;
      transform: scale(1.08);
      box-shadow: 0 4px 10px rgba(23, 162, 184, 0.4);
    }
  }
  .delete-btn {
    background-color: $delete-color;

    &:hover {
      background-color: darken($delete-color, 10%);
      color: #fff;
      transform: scale(1.08);
      box-shadow: 0 4px 10px rgba(220, 53, 69, 0.4);
    }
  }
}

.table-responsive {
  width: 100%;
  height: 385px;
  overflow-y: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      position: sticky;
      top: 0;
      z-index: 10;

      th {
        background: #ffffff; // header background
        position: sticky;
        top: 0;
        padding: 10px;
        font-weight: bold;
      }
    }
  }
}

.form-overlay {
  h3 {
    text-align: center;
    font-size: 18px;
    background-color: #3b5e7b !important;
    padding: 5px;
    color: #fff;
  }
  .form-group {
    label {
      font-weight: bold;
    }
  }
}

.dropdown {
  button {
    padding: 10px !important;
    text-decoration: none;
    &:hover {
      box-shadow: none !important;
      transform: none !important;
    }
  }
}

.navbar {
  background: var(--theme-color);
  padding: 10px;

  a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
}
.reg form {
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 30px !important;
  .form-group{
    margin-bottom: 10px;
  }
}
